
<img src="<%= @flat.image_url%>" alt="">
<h1><%= @flat.name %></h1>
<h2><%= @flat.address %></h2>
<h3>A bit more about this flat...</h3>
<h3><%= @flat.description %></h3>
<%= link_to 'Back to flats', flats_path %>
